<html>
  <head>
    <title>E - Communication Portal</title>

    {{stylesheets}}

    <link rel="shortcut icon" href="resource/resource/img/logo/favicon.png" type="image/x-icon" />
  </head>

  <body>

    <div id="app">
    </div>

    {{authentication '__Authentication'}}

    {{langs '__Langs'}}

    {{scripts}}

    <script type="text/javascript">

      define.main(function(require) {

        var CpanelComponent = require('component.Cpanel');

        var cpanel = new CpanelComponent('#app');

      });

    </script>

  </body>
</html>
