<html>
  <head>
    {{stylesheets}}
  </head>

  <body>

    <div id="app">
    </div>

    {{langs '__Langs'}}

    {{scripts}}

    <script type="text/javascript">

      define.main(function(require) {

        var LoginComponent = require('component.Login');

        var login = new LoginComponent('#app');

      });

    </script>

  </body>
</html>
