<!--<!DOCTYPE html>-->
<html>
  <head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />-->
    <title>E - Communication Portal | Login</title>

    {{stylesheets}}

    <link rel="shortcut icon" href="resource/resource/img/logo/favicon.ico" type="image/x-icon" />
  </head>

  <body>

    <div id="app">
    </div>

    {{authentication '__Authentication'}}

    {{langs '__Langs'}}

    {{scripts}}

    <script type="text/javascript">

      define.main(function(require) {

        var LoginComponent = require('component.Login');

        var login = new LoginComponent('#app');

      });

    </script>

  </body>
</html>
