<template id="form.view-logs.list-gradeHistory">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>

      <li class="icon export right" data-component-role="export-button">
        <span>{{lang "export"}}</span>
      </li>
      <li class="right component">
        {{component.gridColumnsChooser}}
      </li>
      <li class="right component">
        {{component.gridPager}}
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="grid-gradeHistoryes" data-component-role="grid"></div>

  </div>

</template>
