<template id="form.student-course.course-grade">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="student-course"}}"></a>
      </li>

      <li class="text">
        <span>{{lang 'course'}}: <b>{{course.courseName}}</b></span>
      </li>

    </ul>
  </div>

  <div class="content">

    <div id="grid-course-grade"></div>

  </div>

</template>
