<template id="form.student-course.course-attendance">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="student-course"}}"></a>
      </li>

      <li class="text">
        <span>{{lang 'course.manageSchedule'}}</span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'course'}}: <b>{{course.courseName}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'lecture'}}: <b>{{course.staff.staffCode}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'term'}}: <b>{{course.term.termName}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'major'}}: <b>{{course.major.majorName}}</b></span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'attendance.totalAbsent'}}: <b>{{courseAttendance.totalAbsents}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'attendance.totalPresent'}}: <b>{{courseAttendance.totalPresents}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'attendance.percentAttendance'}}: <b>{{courseAttendance.percentAbsents}}</b></span>
      </li>


      <li class="divider">
      </li>

      <li class="icon view" id="button-refresh-schedule">
        <span>{{lang 'schedule.refresh'}}</span>
      </li>



    </ul>
  </div>

  <div class="content">

    <div id="grid-course-schedule"></div>

  </div>

</template>
