<template id="form.manage-student.grade-student-statistic-client">

  {{form.title lang='title.studentCourse.gradeStatistics'}}

  <div class="toolbar">
    <ul>
      {{#auth.isEducator}}
      <li class="icon back">
        <a href="{{url module="manage-student"}}"></a>
      </li>

      <li class="text">
        <span>{{lang 'student.gradStatistic'}}</span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'student.studentCode'}}: <b>{{student.studentCode}}</b></span>
      </li>

      <li class="divider">
      </li>
      {{/auth.isEducator}}

      <li class="text">
        <span>{{lang 'grade.accumulationGrade'}}: <b>{{accumulationGrade}}</b></span>
      </li>


      <li class="text">
        <span>{{lang 'grade.totalCreditFail'}}: <b>{{totalCreditFail}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'grade.totalCreditUnfinished'}}: <b>{{totalCreditUnfinished}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'grade.totalCredits'}}: <b>{{totalCredits}}</b></span>
      </li>

      <li class="icon export right" data-component-role="export-button">
        <span>{{lang "export"}}</span>
      </li>

      <li class="right component">
        {{component.gridColumnsChooser}}
      </li>
      <li class="right component">
        {{component.gridPager}}
      </li>

    </ul>
  </div>

  <div class="content">


    <div id="grid-summary-grade" data-component-role="grid"></div>

  </div>

</template>
