<template id="dialog.profile.change-password">

  {{dialog.size width="400px" height="320px"}}

  <div class="header">
    {{lang "profile.changePassword"}}
  </div>

  <div class="content">

    <div class="label">
      {{lang "account.currentPassword"}}:
    </div>
    <div class="data input">
      {{component.input attribute="currentPassword" passwordInput="true"}}
    </div>

    <div class="label">
      {{lang "account.password"}}:
    </div>
    <div class="data input">
      {{component.input attribute="password" passwordInput="true"}}
    </div>

    <div class="label">
      {{lang "account.confirmPassword"}}:
    </div>
    <div class="data input">
      {{component.input attribute="confirmPassword" passwordInput="true"}}
    </div>

  </div>

  <div class="footer">
    <span type="button" class="button ok" data-component-role="submit-button">{{lang "update"}}</span>

    <span type="button" class="button cancel" data-component-role="cancel-button">{{lang "cancel"}}</span>
  </div>

</template>
