<template id="form.manage-department.list-department">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>

      <li class="icon create" data-component-role="create-button">
        <a href="{{url module="manage-department" action="create"}}">{{lang "department.create"}}</a>
      </li>
      <li class="icon edit" data-component-role="edit-button">
        <a href="{{url module="manage-department" action="edit"}}">{{lang "department.edit"}}</a>
      </li>
      <li class="icon delete" data-component-role="delete-button">
        <a href="#">{{lang "department.delete"}}</a>
      </li>

      <li class="icon export right" data-component-role="export-button">
        <span>{{lang "export"}}</span>
      </li>
      <li class="right component">
        {{component.gridColumnsChooser}}
      </li>
      <li class="right component">
        {{component.gridPager}}
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="grid-departments" data-component-role="grid"></div>

  </div>

</template>
