<!--
System          : 3connected
Component       : List Subject Version
Creator         : VyBD
Created date    : 2014/16/06
-->
  <template id="form.manage-subjectVersion.list-subjectVersion">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="manage-subject"}}"></a>
      </li>

      <li class="icon create" data-component-role="create-button">
        <a href="{{url module="manage-subject-version" action="create"}}">{{lang "subjectVersion.create"}}</a>
      </li>
      <li class="icon edit" data-component-role="edit-button" data-depends-entity="focused">
        <a href="{{url module="manage-subject-version" action="edit"}}">{{lang "subjectVersion.edit"}}</a>
      </li>
      <li class="icon delete" data-component-role="delete-button" data-depends-entity="selected">
        <a href="#">{{lang "subjectVersion.delete"}}</a>
      </li>

      <li class="divider"></li>

      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-subject-version" action="grade-category"}}">{{lang "subjectVersion.gradeCategory"}}</a>
      </li>

      <li class="divider">
      </li>
      <li class="text">
        <span>{{lang 'subject.subjectCode'}}: <b>{{subject.subjectCode}}</b></span>
      </li>
      <li class="text">
        <span>{{lang 'subject.subjectName'}}: <b>{{subject.subjectName}}</b></span>
      </li>

      <li class="right component">
        {{component.gridColumnsChooser}}
      </li>
      <li class="right component">
        {{component.gridPager}}
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="grid-subjectversiones" data-component-role="grid"></div>

  </div>

</template>
