.dialog .content {

  span {
    width: 100%;
  }

  .label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;

    font-size: 13px;
  }

  .data {
    display: inline-block;
    width: 100%;

    position: relative;
  }

  /* input */
  .jqx-input-metro {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;

    font-size: 14px;

    border-color: #aaa;
    color: #555;

    &:focus {
      color: #222;

      border-color: #555;
    }
  }

  /* validate error */
  .error {
    display: inline-block;

    width: 100%;

    margin-top: 1px;

    height: 20px;
    line-height: 20px;

    background: #2b579a;
    color: #fff;
    font-style: italic;

    box-sizing: border-box;
    padding-left: 5px;
  }

  .jqx-validator-error-element-metro {
    border-color: #2b579a !important;
  }

}
