.login-form {
  margin: 80px auto;
  width: 300px;

  .title {
    margin-bottom: 20px;
    font-size: 15px;

    .school-name {
      margin-top: 5px;
      font-weight: bold;
      font-size: 13px;
    }
  }

  #button-login {
    float: right;

    border: 1px solid #555;
    padding: 3px 10px;

    font-size: 12px;

    margin-top: 20px;

    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    &:active {
      background-color: #ddd;
    }
  }
}
