/* grid */

.jqx-grid-metro {
  border: none;

  [role="row"]:hover [role="gridcell"] {
    background: #fcfcfc;

    &.jqx-grid-cleared-cell-metro {
      background: #fff;
    }
  }

  [role="row"].selected [role="gridcell"] {
    border-color: #19519a;
    color: #fff;
    background-color: #2b579a;
  }
}

.jqx-fill-state-pressed-metro {
  border-color: #17396d;
  color: #fff;
  background-color: #2b579a;
}

.jqx-grid-cell-metro,
.jqx-widget-metro .jqx-grid-cell-selected-metro,
.jqx-grid-cell-sort-metro,
.jqx-grid-cell-filter-metro,
.jqx-grid-cell-hover-metro,
.jqx-grid-cell-pinned-metro {
  background-color: #fff;
  border-color: #eee;
  font-size: 12px;
  color: #000;

  cursor: default;
}

.jqx-grid-cell-filter-row-metro {
  background-color: #eee;
}

.jqx-grid-item-metro {
  padding-top: 10px;
}

.jqx-switchbutton-label-on-metro {
  background: #1ba1e2;
  color: #1ba1e2;
}

/* window */

.jqx-window-modal-metro {
  background-color: #fff;
}

/* data table */
.jqx-input-group-addon-metro[role="textbox"] {
  height: 22px;
}

/* scollbar */

.jqx-scrollbar-state-normal-metro {
  background-color: #fff !important;
}

.jqx-scrollbar-thumb-state-normal-horizontal-metro,
.jqx-scrollbar-thumb-state-normal-metro {
  background: #ffffff;
  border-color: #d4d4d4;
}

.jqx-scrollbar-thumb-state-hover-horizontal-metro,
.jqx-scrollbar-thumb-state-hover-metro {
  background: #f0f0f0;
  border-color: #d4d4d4;
}

.jqx-scrollbar-thumb-state-pressed-horizontal-metro,
.jqx-scrollbar-thumb-state-pressed-metro {
  background: #f0f0f0;
  border-color: #777777;
}

.jqx-scrollbar-button-state-normal-metro {
  border: 1px solid #d4d4d4;
  background: #fff;
}

.jqx-scrollbar-button-state-hover-metro {
  border: 1px solid #777777;
  background: #fff;
}

.jqx-scrollbar-button-state-pressed-metro {
  border: 1px solid #777777;
  background: #f0f0f0;
}

/* splitter */

.jqx-splitter-metro {
  border: none;
}
