.form .toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;

  background: #fff;

  border-bottom: 1px solid #eee;

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  li {
    float: left;

    &.right {
      float: right;
    }
  }

  li.component {
    padding-top: 3px;

    margin-right: 5px;
    margin-left: 5px;

    .jqx-dropdownlist-content-metro {
      padding-top: 3px;
      padding-left: 5px;

      span {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }

  li.icon, li.text, li.button {
    a, span {
      display: inline-block;

      font-size: 13px;
      // text-transform: uppercase;

      color: #555;
      height: 30px;
      line-height: 30px;

      padding: 0px 10px;
    }

    b {
      font-size: 12px;
      text-shadow: 1px 1px 1px #eee;
    }
  }

  li.divider {
    margin-top: 5px;
    height: 20px;
    width: 1px;
    background: #888;

    margin-left: 5px;
    margin-right: 5px;
  }

  li.text {
    a, span {
      text-transform: none;
    }
  }

  li.button {
    a, span {
      line-height: 22px;
      margin-top: 3px;

      border: 1px solid #ccc;

      padding: 0px 8px;
      height: 22px;

      cursor: pointer;

      background: #fbfbfb;
    }

    margin: 0px 10px;
  }

  li.icon, li.button span, li.button a {
    &:hover {
      background-color: #eee !important;
    }

    &:active {
      background-color: #ddd !important;
    }

    &.disabled {
      a {
        color: #ccc;

        cursor: default;
      }

      &:hover, &:active {
        background-color: #fff !important;
      }
    }
  }

  li.icon {
    a, span {
      padding-left: 30px;

      cursor: pointer;
    }

    background: 8px center no-repeat;

    &.back {
      width: 30px;
      height: 30px;

      background-position: center center;

      background-image: url("@{url-img}/common/back.png");
    }

    &.info {
      background-image: url("@{url-img}/common/info.png");
    }

    &.create {
      background-image: url("@{url-img}/common/create.png");
    }

    &.view {
      background-image: url("@{url-img}/common/view.png");
    }

    &.edit {
      background-image: url("@{url-img}/common/edit.png");
    }

    &.delete {
      background-image: url("@{url-img}/common/delete.png");
    }

    &.list {
      background-image: url("@{url-img}/common/list.png");
    }

    &.export {
      background-image: url("@{url-img}/common/export.png");
    }

    &.orientation {
      background-image: url("@{url-img}/common/orientation.png");
    }
  }
}
