<template id="dialog.manage-class.create-class">

  {{dialog.size width="500px" height="315px"}}

  <div class="header">
    {{lang "class.create"}}
  </div>

  <div class="content">

    <div class="label">
      {{lang "class.className"}}:
    </div>
    <div class="data input">
      {{component.input attribute="className"}}
    </div>

    <div class="label">
      {{lang "class.batchId"}}:
    </div>
    <div class="data input">
      {{component.combobox attribute="batchId"}}
    </div>

    <div class="label">
      {{lang "class.majorId"}}:
    </div>
    <div class="data input">
      {{component.combobox attribute="majorId"}}
    </div>

  </div>

  <div class="footer">
    <span type="button" class="button ok" data-component-role="submit-button">{{lang "create"}}</span>

    <span type="button" class="button cancel" data-component-role="cancel-button">{{lang "cancel"}}</span>
  </div>

</template>
