<template id="form.manage-class.list-class">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>

      <li class="icon create" data-role="create-button">
        <a href="{{url module="manage-class" action="create"}}">{{lang "class.create"}}</a>
      </li>
      <li class="icon edit" data-role="edit-button">
        <a href="{{url module="manage-class" action="edit"}}">{{lang "class.edit"}}</a>
      </li>
      <li class="icon delete" data-role="delete-button">
        <a href="#">{{lang "class.delete"}}</a>
      </li>

      <li class="icon info right">
        <a href="#">{{lang "profile"}}</a>
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="grid-classes" data-role="grid"></div>

  </div>

</template>
