<!--
System          : 3connected
Component       : Create course template
Creator         : ThanhVM
Created date    : 2014/16/06
-->
  <template id="form.manage-gradeCategory.list-gradeCategory">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="manage-subjectVersion"}}"></a>
      </li>

      <li class="icon create" data-component-role="create-button">
        <a href="{{url module="manage-grade-category" action="create"}}">{{lang "gradeCategory.create"}}</a>
      </li>
      <li class="icon edit" data-component-role="edit-button" data-depends-entity="focused">
        <a href="{{url module="manage-grade-category" action="edit"}}">{{lang "gradeCategory.edit"}}</a>
      </li>
      <li class="icon delete" data-component-role="delete-button" data-depends-entity="selected">
        <a href="#">{{lang "gradeCategory.delete"}}</a>
      </li>

      <li class="divider">
      </li>
      <li class="text">
        <span>{{lang 'subject.subjectCode'}}: <b>{{subject.subjectCode}}</b></span>
      </li>
      <li class="text">
        <span>{{lang 'subject.subjectName'}}: <b>{{subject.subjectName}}</b></span>
      </li>
      <li class="text">
        <span>{{lang 'subjectVersion.subjectVersion'}}: <b>{{version}}</b></span>
      </li>

      <li class="icon export right" data-component-role="export-button">
        <span>{{lang "export"}}</span>
      </li>

      <li class="right component">
        {{component.gridColumnsChooser}}
      </li>
      <li class="right component">
        {{component.gridPager}}
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="grid-subjectcategories" data-component-role="grid"></div>

  </div>

</template>
