<!--
System          : 3connected
Component       : Create Student
Creator         : ThanhVM
-->
  <template id="dialog.manage-account.reset-password">

  {{dialog.size width="500px" height="250px"}}

  <div class="header">
    {{lang "account.edit"}} <b>{{originalData.username}}</b>
  </div>

  <div class="content">

    <div class="label">
      {{lang "account.password"}}:
    </div>
    <div class="data input">
      {{component.input attribute="password" passwordInput="true"}}
    </div>

    <div class="label">
      {{lang "account.confirmPassword"}}:
    </div>
    <div class="data input">
      {{component.input attribute="confirmPassword" passwordInput="true"}}
    </div>

  </div>

  <div class="footer">
    <span type="button" class="button ok" data-component-role="submit-button">{{lang "update"}}</span>

    <span type="button" class="button cancel" data-component-role="cancel-button">{{lang "cancel"}}</span>
  </div>

</template>
