<template id="dialog.manage-newsCategory.create-newsCategory">

  {{dialog.size width="500px" height="260px"}}

  <div class="header">
    {{lang "newsCategory.create"}}
  </div>

  <div class="content">

    <div class="label">
      {{lang "newsCategory.newsCategoryName"}}:
    </div>
    <div class="data input">
      {{component.input attribute="newsCategoryName"}}
    </div>

    <div class="label">
      {{lang "newsCategory.parentCategoryName"}}:
    </div>
    <div class="data input">
      {{component.combobox attribute="parentCategoryId"}}
    </div>

  </div>

  <div class="footer">
    <span type="button" class="button ok" data-component-role="submit-button">{{lang "create"}}</span>

    <span type="button" class="button cancel" data-component-role="cancel-button">{{lang "cancel"}}</span>
  </div>

</template>
