<template id="cpanel">

  <div id="cpanel" class="cpanel">

    <div class="header">

      <div class="left-section">
        <span class="app-logo"></span>
        <span class="app-name">3connected</span>

        <div class="expander" id="expander">
          <ul class="navigator" id="navigator">
            {{#auth.isAdministrator}}
              {{partial id="cpanel.workspace-list.administrator"}}
            {{/auth.isAdministrator}}

            {{#auth.isEducator}}
              {{partial id="cpanel.workspace-list.educator"}}
            {{/auth.isEducator}}

            {{#auth.isExaminator}}
              {{partial id="cpanel.workspace-list.examinator"}}
            {{/auth.isExaminator}}

            {{#auth.isNewsManager}}
              {{partial id="cpanel.workspace-list.news-manager"}}
            {{/auth.isNewsManager}}

            {{#auth.isStudent}}
              {{partial id="cpanel.workspace-list.student"}}
            {{/auth.isStudent}}

            {{#auth.isParent}}
              {{partial id="cpanel.workspace-list.parent"}}
            {{/auth.isParent}}
          </ul>
        </div>

        <span class="location" id="location"></span>
      </div>

      <div class="right-section">
        <span class="username">
          {{profile.displayName}}
          {{#profile.username}}
            ({{profile.username}})
          {{/profile.username}}
        </span>
        <a href="#" class="sign-out" id="button-logout">{{lang "logout"}}</a>
      </div>

      <span class="title">
        {{lang 'app.title'}} - <b>{{lang 'app.school'}}</b>
      </span>
    </div>

    <div id="forms" class="forms">
    </div>

    <div class="footer">
      <div class="copyright">
        {{lang 'app.copyright'}}
      </div>
    </div>

  </div>

</template>
