<template id="cpanel.navigation-panel.examinator">

  <div id="navigation-panel" class="navigation-panel">
     <div id='navigation-tab'>
        <ul class="tab-items">
          <li>
            <span class="icon"></span> Home
          </li>
        </ul>

        <div class="tab-panel tab-home">

          <div class="button-group">
            <a class="button button-large" href="{{url module="manage-course"}}">
              <div class="button-icon icon-course">
              </div>
              <div class="button-text">
                {{lang 'manage.course'}}
              </div>
            </a>
          </div>

          <div class="button-group divider"></div>

          <div class="button-group">
            <a class="button button-large" href="{{url module="history" action="grade"}}">
              <div class="button-icon icon-grade-history">
              </div>
              <div class="button-text">
                {{lang 'manage.history.grade'}}
              </div>
            </a>
          </div>

          <div class="button-group divider"></div>

          <div class="button-group">
            <a class="button button-large" href="{{url module="news"}}">
              <div class="button-icon icon-news">
              </div>
              <div class="button-text">
                {{lang 'news'}}
              </div>
            </a>
          </div>

          <div class="button-group">
            <a class="button button-large" href="{{url module="news" action="create"}}">
              <div class="button-icon icon-create-news-large">
              </div>
              <div class="button-text">
                {{lang 'news.create'}}
              </div>
            </a>
          </div>

          <div class="button-group divider"></div>

          <div class="button-group">
            <a class="button button-large" href="{{url module="profile" action="change-password"}}">
              <div class="button-icon icon-password">
              </div>
              <div class="button-text">
                {{lang 'profile.changePassword'}}
              </div>
            </a>
           </div>

        </div>

     </div>
  </div>

</template>
