<template id="cpanel.workspace-list.administrator">

  <li>
    <a href="{{url module="manage-account"}}" class="icon account">{{lang "manage.account"}}</a>
  </li>

  <li class="divider"></li>

  <li>
  <li>
    <a href="{{url module="manage-student"}}" class="icon student">{{lang "manage.student"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-staff"}}" class="icon staff">{{lang "manage.staff"}}</a>
  </li>
    <li>
    <a href="{{url module="manage-department"}}" class="icon term">{{lang "manage.department"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="manage-news-category"}}" class="icon category">{{lang "manage.newsCategory"}}</a>
  </li>
    <li>
    <a href="{{url module="news"}}" class="icon news">{{lang "manage.news"}}</a>
  </li>

</template>
