<template id="cpanel.workspace-list.educator">
  <li>
    <a href="{{url module="manage-student"}}" class="icon student">{{lang "manage.student"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-course"}}" class="icon course">{{lang "manage.course"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-class"}}" class="icon course">{{lang "manage.class"}}</a>
  </li>

  <li class="divider"></li>
   <li>
    <a href="{{url module="news"}}" class="icon news">{{lang "manage.news"}}</a>
  </li>

   <li class="divider"></li>

  <li>
    <a href="{{url module="manage-major"}}" class="icon term">{{lang "manage.major"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-batch"}}" class="icon term">{{lang "manage.batch"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-term"}}" class="icon term">{{lang "manage.term"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-subject"}}" class="icon subject">{{lang "manage.subject"}}</a>
  </li>
  <li>
    <a href="{{url module="history" action="attendance"}}" class="icon historyAttendance">{{lang "manage.history.attendance"}}</a>
  </li>
  <li>
    <a href="{{url module="history" action="grade"}}" class="icon historyGrade">{{lang "manage.history.grade"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="profile" action="change-password"}}" class="icon password">{{lang "profile.changePassword"}}</a>
  </li>

</template>
