<template id="cpanel.workspace-list.examinator">

  <li>
    <a href="{{url module="manage-course"}}" class="icon course">{{lang "manage.course"}}</a>
  </li>
  <li>
    <a href="{{url module="history" action="grade"}}" class="icon historyGrade">{{lang "manage.history.grade"}}</a>
  </li>
  <li class="divider"></li>

  <li>
    <a href="{{url module="news"}}" class="icon news">{{lang "manage.news"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="profile" action="change-password"}}" class="icon password">{{lang "profile.changePassword"}}</a>
  </li>
</template>
