<template id="cpanel.workspace-list.student">

  <li>
    <a href="{{url module="student-course"}}">{{lang "manage.student-course"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-news" action="explorer"}}">{{lang "view.news"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="profile" action="change-password"}}">{{lang "profile.changePassword"}}</a>
  </li>

</template>
