<template id="cpanel.workspace-list.educator">
  <li>
    <a href="{{url module="manage-student"}}">{{lang "manage.student"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-class"}}">{{lang "manage.class"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-course"}}">{{lang "manage.course"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="manage-news-category"}}">{{lang "manage.newsCategory"}}</a>
  </li>
    <li>
    <a href="{{url module="news"}}">{{lang "manage.news"}}</a>
  </li>

   <li class="divider"></li>

  <li>
    <a href="{{url module="manage-major"}}">{{lang "manage.major"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-batch"}}">{{lang "manage.batch"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-term"}}">{{lang "manage.term"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-department"}}">{{lang "manage.department"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-subject"}}">{{lang "manage.subject"}}</a>
  </li>
  <li>
    <a href="{{url module="history" action="attendance"}}">{{lang "manage.history.attendance"}}</a>
  </li>
  <li>
    <a href="{{url module="history" action="grade"}}">{{lang "manage.history.grade"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="profile" action="change-password"}}">{{lang "profile.changePassword"}}</a>
  </li>

</template>
