<template id="cpanel.workspace-list.examinator">

  <li>
    <a href="{{url module="manage-course"}}">{{lang "manage.course"}}</a>
  </li>
  <li>
    <a href="{{url module="history" action="grade"}}">{{lang "manage.history.grade"}}</a>
  </li>
  <li class="divider"></li>

  <li>
    <a href="{{url module="news"}}">{{lang "manage.news"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="profile" action="change-password"}}">{{lang "profile.changePassword"}}</a>
  </li>
</template>
