<template id="cpanel.workspace-list.administrator">

  <li>
    <a href="{{url module="manage-account"}}">{{lang "manage.account"}}</a>
  </li>

  <li class="divider"></li>

  <li>

  <li>
    <a href="{{url module="manage-student"}}">{{lang "manage.student"}}</a>
  </li>
  <li>
    <a href="{{url module="manage-staff"}}">{{lang "manage.staff"}}</a>
  </li>
    <li>
    <a href="{{url module="manage-department"}}">{{lang "manage.department"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="manage-news-category"}}">{{lang "manage.newsCategory"}}</a>
  </li>
    <li>
    <a href="{{url module="manage-news" action="explorer"}}">{{lang "manage.news"}}</a>
  </li>

</template>
