<template id="cpanel.workspace-list.teacher">

  <li>
    <a href="{{url module="manage-course"}}">{{lang "manage.course"}}</a>
  </li>

  <li class="divider"></li>

  <li>
    <a href="{{url module="profile" action="change-password"}}">{{lang "profile.changePassword"}}</a>
  </li>

</template>
