<template id="dialog.create-student">

  <div class="header">
    {{lang "student.add"}}
  </div>

  <div class="content">
    {{value}}
  </div>

  <div class="footer">
    <span type="button" class="button ok" id="buttonOk">OK</span>

    <span type="button" class="button cancel" id="buttonCancel">Cancel</span>
  </div>

</template>
