<template id="dialog.manage-student.import-student">

  {{dialog.size width="500px" height="90%"}}

  <div class="header">
    {{lang "student.importStudent"}}
  </div>

  <div class="content">
    <div class="label">
      {{lang 'student.import.file'}}
    </div>
    <div class="data file">
      {{component.input attribute="importFileName" disabled="true"}}
      <input type="file" id="input-import-file" />
      <span class="button-browse excel" id="button-browse-import-file"></span>
    </div>

    {{#columns}}
      <div class="label">
      {{lang 'student.import.columnFor'}} <b>{{text}}</b>:
      </div>
      <div class="data input">
        {{component.input attribute="bindToColumn" upperCase="true"}}
      </div>
    {{/columns}}

    <div class="label">
      {{lang 'student.import.startRow'}}
    </div>
    <div class="data input">
      {{component.input attribute="startRow" upperCase="true"}}
    </div>
  </div>

  <div class="footer">
    <span type="button" class="button ok import" data-component-role="submit-button">{{lang "import"}}</span>

    <span type="button" class="button cancel" data-component-role="cancel-button">{{lang "cancel"}}</span>
  </div>

</template>
