<template id="form.manage-student">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>

      <li class="icon add">
        <a href="{{url module="manage-student" action="new"}}">{{lang "student.add"}}</a>
      </li>
      <li class="icon edit">
        <a href="#">{{lang "student.edit"}}</a>
      </li>
      <li class="icon delete">
        <a href="#">{{lang "student.delete"}}</a>
      </li>

      <li class="icon info right">
        <a href="#">{{lang "profile"}}</a>
      </li>
    </ul>
  </div>

  <div class="content">

    <!--
    <div id="splitter">

      <div></div>

      <div>
    -->
<!--
        <div id="splitter-data-table">
          <div>
          </div>

          <div id="container-dt">
            <div id="data-table"></div>
          </div>
        </div>
-->
    <div id="data-table"></div>
    <!--
      </div>

    </div>
    -->
  </div>

<!--
  <div id="dialog" class="dialog">
    <div class="header">
      Modal Window
    </div>
    <div class="body">
      <div class="top">
        <div class="panel">
          <div class="content">

            Please click "OK", "Cancel" or the close button to close the modal window.

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            The dialogresult will be displayed in the events log.

          </div>
        </div>
      </div>

      <div class="bottom">
          <span type="button" class="button ok" id="ok">OK</span>
          <span type="button" class="button cancel" id="cancel">Cancel</span>
      </div>
    </div>
  </div>
-->

</template>
