<template id="login">

  <div id="cpanel" class="cpanel">

    <div class="form-content login-form">

      <div class="title">
        <div class="app-title">{{lang 'app.title'}}</div>
        <div class="school-name">{{lang 'app.school'}}</div>
      </div>

      <div class="label">
        {{lang "account.username"}}:
      </div>
      <div class="data input">
        {{component.input attribute="username" height="30px" }}
      </div>
      <div class="label">
        {{lang "account.password"}}:
      </div>
      <div class="data input">
        {{component.input attribute="password" height="30px" passwordInput="true" }}
      </div>
      <div class="label">
        {{lang "account.role"}}:
      </div>
      <div class="data input">
        {{component.roleDropDownList attribute="role" height="30px"}}
      </div>

      <div id="button-login">
        Login
      </div>

    </div>

    <div class="footer">
      <div class="copyright">
        {{lang 'app.copyright'}}
      </div>
    </div>

  </div>

</template>
