<template id="form.manage-course.course-schedule">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="manage-course"}}"></a>
      </li>

      <li class="text">
        <span>Manage course's schedule</span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'course'}}: <b>{{course.courseName}}</b></span>
      </li>

      <li class="divider">
      </li>

      <li class="icon view">
        <span>{{lang 'schedule.refresh'}}</span>
      </li>

      <li class="divider" data-component-group="view">
      </li>

      <li class="icon edit" id="button-edit-schedule" data-component-group="view">
        <span>{{lang 'schedule.editSchedule'}}</span>
      </li>

      <li class="divider" data-component-group="edit">
      </li>

      <li class="component" data-component-group="edit">
        {{component.dateInput attribute="schedule.startDate" width="100px" height="22px"}}
      </li>
      <li class="text" data-component-group="edit">
        <span>-</span>
      </li>
      <li class="component" data-component-group="edit">
        {{component.dateInput attribute="schedule.endDate" width="100px" height="22px"}}
      </li>

      <li class="button" data-component-group="edit">
        <span id="button-view-schedule">{{lang 'schedule.view'}}</span>
      </li>

      <li class="divider" data-component-group="edit">
      </li>

      <li class="icon edit" id="button-update-schedule" data-component-group="edit">
        <span>{{lang 'schedule.updateChanges'}}</span>
      </li>
      <li class="icon delete" id="button-reject-changes" data-component-group="edit">
        <span>{{lang 'schedule.rejectChanges'}}</span>
      </li>

    </ul>
  </div>

  <div class="content">

    <div id="grid-course-schedule"></div>

  </div>

</template>
