<template id="form.manage-course.course-student">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="manage-course"}}"></a>
      </li>

      <li class="text">
        <span>Manage course's students</span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'course'}}: <b>{{courseName}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'lecture'}}: <b></b></span>
      </li>

      <li class="text">
        <span>{{lang 'term'}}: <b>{{term.termName}}</b></span>
      </li>

      <li class="text">
        <span>{{lang 'major'}}: <b>{{major.majorName}}</b></span>
      </li>


      <li class="right icon orientation">
        <span id="button-change-orientation">{{lang 'changeOrientation'}}</span>
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="splitter">
      <div>
        <div class="toolbar">
          <ul>
            <li class="icon create">
              <span id="button-add-students">{{lang "class.manageStudent.add"}}</span>
            </li>

            <li class="right component">
              {{component.gridColumnsChooser grid="gridStudents"}}
            </li>
            <li class="right component">
              {{component.gridPager grid="gridStudents"}}
            </li>
          </ul>
        </div>
        <div style="position: absolute; top: 31px; bottom: 0px; left: 0; right: 0">
          <div id="grid-students"></div>
        </div>
      </div>
      <div>
        <div class="toolbar">
          <ul>
            <li class="icon delete">
              <span id="button-remove-students">{{lang "class.manageStudent.remove"}}</span>
            </li>

            <li class="icon export right" data-component-role="export-button" data-grid="gridCourseStudents">
              <span>{{lang "export"}}</span>
            </li>
            <li class="right component">
              {{component.gridColumnsChooser grid="gridCourseStudents"}}
            </li>
            <li class="right component">
              {{component.gridPager grid="gridCourseStudents"}}
            </li>
          </ul>
        </div>
        <div style="position: absolute; top: 31px; bottom: 0px; left: 0; right: 0">
          <div id="grid-course-students"></div>
        </div>
      </div>
    </div>

  </div>

</template>
