<template id="form.manage-course.course-attendance">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="manage-course"}}"></a>
      </li>

      <li class="text">
        <span>{{lang 'course.manageAttendance'}}</span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'course'}}: <b>{{course.courseName}}</b></span>
      </li>

      <li class="divider">
      </li>

      <li class="component">
        {{component.combobox attribute="scheduleId" width="150px" height="22px" localData="true"}}
      </li>

      <li class="button">
        <span id="button-view-attendance">{{lang 'attendance.view'}}</span>
      </li>

      <li class="text">
        <span>
          ({{lang 'attendance.totalSlots.total'}}
          {{course.schedules.length}}
          {{lang 'attendance.totalSlots.slots'}})
        </span>
      </li>

      <li class="divider" data-component-group="view">
      </li>

      <li class="icon edit" id="button-edit-attendance" data-component-group="view">
        <span>{{lang 'attendance.editAttendance'}}</span>
      </li>

      <li class="divider" data-component-group="edit">
      </li>

      <li class="icon edit" id="button-update-attendance" data-component-group="edit">
        <span>{{lang 'attendance.updateChanges'}}</span>
      </li>

      <li class="icon edit" id="button-reject-changes" data-component-group="edit">
        <span>{{lang 'attendance.rejectChanges'}}</span>
      </li>

      <li class="divider" data-component-group="edit">
      </li>

      <li class="button" data-component-group="edit">
        <span id="button-all-present">{{lang 'attendance.allPresent'}}</span>
      </li>

      <li class="button" data-component-group="edit">
        <span id="button-all-absent">{{lang 'attendance.allAbsent'}}</span>
      </li>

    </ul>
  </div>

  <div class="content">

    <div id="grid-course-attendance"></div>

  </div>

</template>
