<template id="form.manage-course.course-schedule">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="manage-course"}}"></a>
      </li>

      <li class="text">
        <span>Manage course's schedule</span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'course'}}: <b>{{courseName}}</b></span>
      </li>

      <li class="divider">
      </li>

      <li class="text">
        <span>{{lang 'schedule.startDate'}}:</span>
      </li>
      <li class="component">
        {{component.dateInput attribute="startDate" width="100px" height="22px"}}
      </li>

      <li class="text">
        <span>{{lang 'schedule.endDate'}}:</span>
      </li>
      <li class="component">
        {{component.dateInput attribute="endDate" width="100px" height="22px"}}
      </li>

      <li class="button">
        <span>{{lang 'schedule.view'}}</span>
      </li>

      <li class="divider">
      </li>

      <li class="icon edit">
        <span>{{lang 'schedule.updateChanges'}}</span>
      </li>

    </ul>
  </div>

  <div class="content">

    <div id="grid-course-schedule"></div>

  </div>

</template>
