 <!--
System          : 3connected
Component       : Create course template
Creator         : VyBD
Modifier        :ThanhVM
Created date    : 2014/16/06
-->
  <template id="form.manage-course.list-course">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>

      {{#auth.isEducator}}
      <li class="icon create" data-component-role="create-button">
        <a href="{{url module="manage-course" action="create"}}">{{lang "course.create"}}</a>
      </li>

      <li class="icon edit" data-component-role="edit-button" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="edit"}}">{{lang "course.edit"}}</a>
      </li>
      <li class="icon delete" data-component-role="delete-button" data-depends-entity="selected">
        <a href="#">{{lang "course.delete"}}</a>
      </li>
      {{/#auth.isEducator}}

      <li class="divider"></li>

      {{#auth.isEducator}}
      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="attendance"}}">{{lang "course.attendance"}}</a>
      </li>
      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="attendance-statistic"}}">{{lang "course.attendanceStatistic"}}</a>
      </li>
      {{/#auth.isEducator}}

      {{#auth.isTeacher}}
      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="attendance"}}">{{lang "course.attendance"}}</a>
      </li>
      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="attendance-statistic"}}">{{lang "course.attendance"}}</a>
      </li>
      {{/#auth.isTeacher}}

      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="grade"}}">{{lang "course.grade"}}</a>
      </li>

      {{#auth.isEducator}}
      <li class="divider"></li>

      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="schedule"}}">{{lang "course.schedule"}}</a>
      </li>
      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="course-student"}}">{{lang "course.manageStudent"}}</a>
      </li>
      {{/#auth.isEducator}}

      {{#auth.isTeacher}}
      <li class="icon list" data-depends-entity="focused">
        <a href="{{url module="manage-course" action="schedule"}}">{{lang "course.schedule"}}</a>
      </li>
      {{/#auth.isTeacher}}


      <li class="right component">
        {{component.gridColumnsChooser}}
      </li>
      <li class="right component">
        {{component.gridPager}}
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="grid-coursees" data-component-role="grid"></div>

  </div>

</template>
