<template id="form.view-logs.list-gradeHistory">

  {{form.title lang='title.history.grade'}}

  <div class="toolbar">
    <ul>
      <!--<li class="icon back">
      </li>-->

      <li class="right component">
        {{component.gridColumnsChooser}}
      </li>
      <li class="right component">
        {{component.gridPager}}
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="grid-gradeHistoryes" data-component-role="grid"></div>

  </div>

</template>
