<template id="form.manage-news.create-news">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>
    </ul>
  </div>

  <div class="content create-news">
    <div style="padding: 5px; width: 100%; height: 100%; box-sizing: border-box;" id="editor-wrapper">
      <textarea cols="80" rows="10" id="news-editor">
      </textarea>
    </div>
  </div>

</template>
