<template id="form.manage-news.create-news">

  <div class="toolbar">
    <ul>
      <li class="icon back">
        <a href="{{url module="manage-news" action="explorer"}}"></a>
      </li>

      <li class="icon save" id="button-save">
        <span>{{lang "news.save"}}</span>
      </li>

      <li class="divider">
      </li>

      <li class="icon attachment add" id="button-add-attachments">
        <span>{{lang "news.addAttachments"}}</span>
      </li>
      <li class="icon attachment remove" id="button-remove-attachments">
        <span>{{lang "news.removeAttachments"}}</span>
      </li>
    </ul>
  </div>

  <div class="content">

    <div id="splitter" class="news-editor-form">
      <div class="news-info">
        <div class="form-content">
          <div class="label">
            {{lang "news.title"}}:
          </div>
          <div class="data input">
            {{component.input attribute="title" height="25px" }}
          </div>
          <div class="label">
            {{lang "news.categories"}}:
          </div>
          <div class="data combobox">
            {{component.combobox attribute="categoryIds" height="25px" multipleSelection="true"}}
          </div>

          <div class="label">
            {{lang "news.attachments"}}:
          </div>
          <div class="data">
            <div id="attachments">
            </div>
          </div>

          <div class="hidden">
            <input type="file" id="input-attachments" multiple />
          </div>
        </div>
      </div>
      <div class="news-editor-wrapper">
        <textarea cols="80" rows="10" id="news-editor">
        </textarea>
      </div>
    </div>

  </div>

</template>
