<template id="form.manage-news.create-news">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>
    </ul>
  </div>

  <div class="content create-news-form">

    <table>
      <tr class="news-info">
        <td class="label">Title:</td>
        <td class="component">
          {{component.input attribute="title" width="100%" height="30px"}}
        </td>
      </tr>
      <tr class="news-info">
        <td class="label">Categories:</td>
        <td class="component">
          {{component.combobox attribute="categoryIds" width="100%" height="30px" inlineSelection="true"}}
        </td>
      </tr>
      <tr class="news-editor-wrapper">
        <td colspan="2">
          <textarea cols="80" rows="10" id="news-editor">
          </textarea>
        </td>
      </tr>
    </table>

  </div>

</template>
