<template id="form.manage-news.news-explorer">

  <div class="toolbar">
    <ul>
      <li class="icon back">
      </li>

      <li class="icon create" id="button-create">
        <a href="{{url module="manage-news" action="create"}}">{{lang "news.create"}}</a>
      </li>
    </ul>
  </div>

  <div class="content news-explorer">

    <div id="splitter-vertical">
      <div class="category-list">
        <div id="tree-categories">
        </div>
      </div>
      <div>
        <div id="splitter-horizontal">
          <div>
            <div id="grid-news">
            </div>
          </div>
          <div class="news">
            <div id="news-content" class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</template>
